.lista-vazia {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    margin-top: 3rem;
    color: red;
    gap: 10px;
}

.custom-icon {
  font-size: 32px;
  display: flex;
  align-items: center;
  
}